@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;400&display=swap');

.App {
  background-color: #fafafa;
  font-family: 'Kanit', sans-serif;
  color: rgb(165, 159, 159);
  margin: 0 50px;
}
